<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>mainpage</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'book_exchange/mainpage.css' %}">
    <!-- boxicon -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>
    <div class = "sidebar">
        <div class = "logo_content">
            <div class = "logo">
                
                <div class = "logo_name"><i class='bx bx-search-alt'></i>IPRO Used Textbook Trading</div>
            </div>
            
        </div>
		    <div class="home_content">
     
    </div>

			 <button class="btn">
                <a href="profile.html">
                    <i class='bx bx-user'></i>
                </a>
                <span class = "tooltip">Profile</span>
            </button>
            <button class="btn">
                <a href="profile-edit.html">
                    <i class='bx bx-cog'></i>
                </a>
                <span class = "tooltip">Profile Settings</span>
            </button>
            <button class="btn">
                <a href="book-to-sell.html">
                    <i class='bx bx-chalkboard'></i>
					
                </a>
                 <span  class = "tooltip">Sell used book</span>
            </button>
            <button class="btn">
                <a href="book-to-sell.html">
                    <i class='bx bx-chalkboard'></i>
                    
					
                </a>
                 <span  class = "tooltip">Buy used book</span>
            </button>

            <button class="btn">
                <i class='bx bx-log-out'></i>
                <span class = "tooltip"><a href="signin.html">Sign out</span>
				
            </button>
    </div>



    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");

        btn.onclick = function(){
            sidebar.classList.toggle("active");
        }

        
    </script>
</html>